@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    height: 100%;
}

#header-shadow {
    position: absolute;
    display: block;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    top: 50%;
    left: 50%;
    max-width: none;
}


@layer components {
    h1, h2, h3, h4 {
        @apply font-headline font-extrabold;
    }
    h1 {
        @apply text-4xl m-10;
    }
}
