@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    height: 100%;
}

.logo-text {
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
    border-color: rgb(123, 186, 177);
    margin: .2em;
}

#header-shadow {
    position: absolute;
    display: block;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -300px;
    top: 50%;
    left: 50%;
    max-width: none;
}
