/* Markdown Styles */

.md h1, .md h2, .md h3, .md h4 {

}

.md h1 {
  font-size: var(--typo-subheader-size);
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 1rem;
}

.md h1.cli-header {
  margin: 0 0 4rem;
}

.md h1.cli-header code {
  padding: 0.1rem 0.8rem 0.2rem;
}

.md h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.md h2.cli-subheader {
  margin: 0 0 1rem;
}

.md h3, .md h4 {
    @apply text-xl;
}

.md p:not(:empty) {
    margin: 0 0 2rem;
    line-height: 2;
    color: rgba(255, 255, 255, 0.8);
}

.md a.cli-header-link,
.md a.docs-section-anchor {
  scroll-margin-top: 100px;
}

.md a.cli-header-link:hover {
  text-decoration: none;
}

.md blockquote {
    margin: 2rem 0;
    padding-left: 2rem;
    font-style: italic;
    color: var(--color-typography-secondary);
    border-left: 2px solid var(--color-primary-cta-highlight);
}

.md blockquote p:not(:empty) {
    padding: 0;
}

#docs .md blockquote,
#cli .md blockquote {
  border: 1px solid rgba(254, 131, 0, 0.4);
  background-color: rgba(264, 131, 0, 0.1);
  border-radius: 1rem;
  padding: 1.5rem 2rem;
}

#docs .md blockquote p:last-child,
#cli .md blockquote p:last-child {
  margin: 0;
}

.md code {
  background-color: rgba(36, 37, 47, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.5rem;
  padding: 0.1rem 0.28rem 0.2rem;
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.md pre code {
  background-color: rgba(36, 37, 47, 0.4);
  margin: 0 0 2rem;
  padding: 1.5rem;
}

.md ul {
    @apply list-disc flex flex-col;
    line-height: 2.5;
    color: rgba(255, 255, 255, 0.8);
}

.md ul li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  list-style-position: inside;
}

.md ul li:last-child {
  margin-bottom: 0;
}

.md a {
    @apply font-bold text-purple hover:underline;
}
