html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  padding: 2em 2em;
}

.nav .menu-toggle {
  display: none;
  cursor: pointer;
}

.nav.open .menu-toggle svg {
  stroke: #b65311;
}

h1 {
  font-family: omnes-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #656e8a;
}

a:hover {
  color: #b65311;
}

.nav-container {
  padding: 0 2em;
}

.nav-container,
.nav,
.nav .pages,
.social {
  display: flex;
}

.nav {
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.nav .pages > a {
  margin-right: 1em;
}

.social > a {
  margin-left: 1em;
}

svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.social svg.twitter {
  stroke: none;
  fill: currentColor;
}

.content {
  padding: 2em;
  flex-grow: 1;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}

@media only screen and (max-width: 800px) {
  .main {
    padding: 2em 0;
    margin-top: 4em;
  }

  .nav {
    flex-direction: row-reverse;
  }

  .nav-container {
    position: fixed;
    height: 88px;
    background-color: #fff;
    width: 100%;
  }

  .nav .menu-toggle {
    position: absolute;
    z-index: 10;
    display: block;
    top: 33px;
    right: 1em;
  }

  .nav .pages {
    z-index: 5;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    font-size: 1.5em;
    top: 88px;
    width: 180px;
    right: -180px;
    padding-top: 1em;
    height: 5000px;
    transition: all 400ms;
  }
  .nav.open .pages {
    right: 0;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.2);
  }
  .nav .pages a {
    text-align: end;
  }
}

@media only screen and (max-width: 440px) {
  .nav-container {
    height: 140px;
  }

  .nav {
    padding-right: 20px;
    align-items: flex-start;
  }

  .social {
    margin-top: 2em;
  }

  .nav .pages {
    top: 140px;
  }
}
