<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{ title }}
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/xfh0gig.css">
    <link rel="stylesheet" href="/style/main.css">
    <script type="module" src="/scripts/main.js"></script>
  </head>
  <body>
    <nav
      id="nav"
      role="nav"
      class="z-10 w-full top-0 fixed py-5 px-5 backdrop-blur-md shadow-lg flex justify-between font-bold">
      <div id="logo">
        <a href="/">[logo]</a>
      </div>
      <div id="search" class="flex-1 flex justify-center">[search]</div>
      <ul class="flex justify-between gap-5">
        {% assign docs_link = objects.docs | first %}
        <li class="hover:text-teal">
          <a href="/{{ docs_link.path }}.html">Docs</a>
        </li>
        {% assign cli_link = objects.cli | first %}
        <li class="hover:text-teal">
          <a href="/{{ cli_link.path }}.html">CLI</a>
        </li>
        <li class="hover:text-teal">
          <a href="/manifesto.html">Manifesto</a>
        </li>
        <li class="hover:text-teal">
          <a href="https://editor.archival.dev">Editor</a>
        </li>
        <li class="w-5">
          <a href="https://github.com/jesseditson/archival"><img src="/img/github-mark.png" alt="github" /></a>
        </li>
        <li class="w-5">
          <a href="https://docs.rs/archival/"><img src="/img/rust.png" alt="rust library documentation" /></a>
        </li>
      </ul>
    </nav>
    <main
      role="main"
      tabindex="-1"
      class="flex flex-col my-10 z-0 items-center">
      {{ page_content }}
    </main>
    <canvas id="3d" style="z-index: 1; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none;"></canvas>
    <script
      defer
      src="https://api.pirsch.io/pa.js"
      id="pianjs"
      data-code="XiwklAJh3S2Wx2wypo1eGjp5BHhtbk4C"></script>
  </body>
</html>
