<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{ title }}
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/xfh0gig.css">
    <link rel="stylesheet" href="/style/archival-docs.css">
  </head>
  <body>
    <main role="main" tabindex="-1">
      {{ page_content }}
    </main>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XH51PPX9YN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XH51PPX9YN');
    </script>
  </body>
</html>
