<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{ title }}
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/xfh0gig.css">
    <link rel="stylesheet" href="/style/main.css">
    <script type="module" src="/scripts/main.js"></script>
  </head>
  <body>
    <nav id="nav" role="nav">
      <div id="logo">
        <a href="/">[logo]</a>
      </div>
      <div id="search">[search]</div>
      <ul>
        {% assign docs_link = objects.docs | first %}
        <li>
          <a href="/{{ docs_link.path }}.html">Docs</a>
        </li>
        {% assign cli_link = objects.cli | first %}
        <li>
          <a href="/{{ cli_link.path }}.html">CLI</a>
        </li>
        <li>
          <a href="/manifesto.html">Manifesto</a>
        </li>
        <li>
          <a href="https://editor.archival.dev">+ Editor</a>
        </li>
        <li>
          <a href="https://github.com/jesseditson/archival">[github icon]</a>
        </li>
        <li>
          <a href="https://docs.rs/archival/">[rust icon]</a>
        </li>
      </ul>
    </nav>
    <main role="main" tabindex="-1">
      {{ page_content }}
    </main>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XH51PPX9YN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XH51PPX9YN');
    </script>
    <script
      defer
      src="https://api.pirsch.io/pa.js"
      id="pianjs"
      data-code="XiwklAJh3S2Wx2wypo1eGjp5BHhtbk4C"></script>
  </body>
</html>
