<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://archival.dev">
    <meta property="og:image" content="https://archival.dev/img/og-image.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
    <meta property="og:image:alt" content="archival.dev" />

    <link rel="manifest" href="/site.webmanifest" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png" />
    <link
      rel="mask-icon"
      href="/safari-pinned-tab.svg"
      color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      {{ title }}
    </title>
    <link rel="stylesheet" href="https://use.typekit.net/xfh0gig.css">
    <link rel="stylesheet" href="/style/main.css">
    <script type="module" src="/scripts/main.js"></script>
  </head>
  <body class="overflow-hidden h-full md:overflow-auto md:h-auto">
    {% include "quick-search" %}
    {% include "nav" %}
    <main role="main" class="flex flex-col z-0 items-center w-full h-full md:h-auto overflow-y-auto">
      {{ page_content }}
    </main>

    <!-- syntax highlighting -->
    <link rel="stylesheet" href="/style/hljs-dracula.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <!-- documentation languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/typescript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/toml.min.js"></script>
    <script>
      hljs.highlightAll();
      document.getElementById("year").textContent = new Date().getFullYear();
    </script>
  </body>
</html>
