<div class="docs-nav-container">
    <div class="docs-nav">
        <h3>Tutorials</h3>
        <ul>
            {% for tut in objects.tutorial %}
                <li>
                    <a href="{{tut.path}}">{{tut.nav_title}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>