<div class="hero">
    <img alt="archival" src="../img/header.png"/>
    <h1>A simple tool for building creative, durable websites.</h1>
</div>
<div class="hero-nav">
    {% include 'nav', page: page %}
</div>
