{% layout "theme" title: title
  , area: "legal" %}

<div class="legal">
  <div class="nav-top container">
    <a href="/">&larr; Back to home</a>
  </div>
  <div class="container">
    {{ content }}
  </div>
</div>
