<ul class="nav">
    {% if page != "home" %}
    <li class="home-link">
        <div class="link-container">
            <a href="index.html">Home</a>
            <div class="link-background"></div>
        </div>
    </li>
    {% endif %}
    {% if page != "manifesto" %}
    <li class="manifesto-link">
        <div class="link-container">
            <a href="manifesto.html">Manifesto</a>
            <div class="link-background"></div>
        </div>
    </li>
    {% endif %}
    {% if page != "documentation" %}
    <li class="documentation-link">
        <div class="link-container">
            <a href="documentation.html">Documentation</a>
            <div class="link-background"></div>
        </div>
    </li>
    {% endif %}
</ul>