<div class="logo-small">
    <div class="nav-small">
        <ul class="nav">
            <li class="home-link">
                <div class="link-container">
                    <a href="index.html">Home</a>
                    <div class="link-background"></div>
                </div>
            </li>
        </ul>
    </div>
    <h1>Archival: {{name}}</h1>
</div>
