{% layout 'theme' title: "archival"
  , area: "home" %}


<div id="header" class="z-30 w-full flex flex-col justify-center items-center gap-6 md:pt-20 relative">
  <div id="header-logo" class="flex items-center justify-between flex-col w-full">
    <div class="shadow-image w-64 h-64 relative flex items-center justify-center scale-90 md:scale-100">
      <img
        id="header-shadow"
        class="bg absolute z-0"
        src="/img/logo-shadow.png"
        alt="archival" />
      <img
        id="header-image"
        src="/img/logo.png"
        class="fg z-10"
        alt="archival" />
    </div>
    <h1 class="logo-text text-purple-dark font-bold text-5xl font-section-title">archival</h1>
  </div>
</div>
{% comment %} 
  <iframe
    src="https://discord.com/widget?id=1257848212744568853&theme=dark"
    width="350"
    height="500"
    allowtransparency="true"
    frameborder="0"
  sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin
  allow-scripts"></iframe>
  {% endcomment %}

<h2 class="logo-text text-purple-dark font-bold text-2xl font-section-title">Redirecting you to Discord...</h2>

<p class="logo-text text-purple-dark font-bold text-xl font-section-title">
  <a href="{{objects.home.discord_url}}">if this page doesn't automatically redirect, click   
    here</a>
</p>

{% include 'redirect' to: objects.home.discord_url %}
