{% layout 'theme', title: "Archival" %}

{% include 'hero_nav', page: 'home' %}

<h1 class="page-title">Archival</h1>

<div class="content">
<h2>Extremely minimalist, extremely productive</h2>
<p>Archival is a tiny tool for building websites.</p>
<p>It provides the bare minimum of tooling to make it really easy to maintain websites built with archival, and makes it easy for people to update simple websites without knowing any html.</p>
<p>If you're currently using something like Squarespace or Wordpress for a static website and you know a little html, archival can likely be a much cheaper and more flexible solution for updating simple content-based websites.</p>

<h2>Learn the web, not trendy tools</h2>
<p>Archival is built to maximize the use of existing web standards without abstractions.</p>
<p>It is a build tool, but it doesn't do any transpilation or shimming - it aims to be the best tool for projects where the web is good enough, and where humans always update the content.</p>

<h2>Build something unique</h2>
<p>Archival doesn't provide you with any templates. You can bring your own, or you can get creative and see what you can do when you're not thinking in a box.</p>
<p>Archival lets you take really interesting ideas expressed in HTML, and quickly make them scale without using a large library.</p>

<h2>Get Started</h2>
<p>Ready to build something? Get started with a <a href="tutorials.html">Tutorial</a>, or dive straight into the <a href="documentation.html">Documentation</a>.</p>
</div>