{% layout 'theme', style: "../style/index.css" %}

<div class="hero">
    <img alt="archival" src="../img/header.png"/>
    <h1>A simple tool for building creative, durable websites.</h1>
</div>

<div class="content">
    <h2>Why?</h2>
    WebStandards are good enough. Build tools are too complex. If you know HTML, you should be able to build robust websites that don't cost much to host.
</div>
