{% layout 'theme', title: "Christian Reynoso", page: "home", style: "home" %}
{% capture content %}{{objects.page["home"].content}}{% endcapture %}

<div class="home">
    <div class="image">
        <img src="img/cwall2.jpg" alt="Christian Reynoso" />
    </div>
    <div class="content">
        {{content}}
    </div>
</div>