{% layout 'theme' title: "archival manifesto"
  , area: "manifesto" %}

<div class="manifesto mt-64">
  <h1 class="hero-message mb-16">{{ objects.manifesto.title }}</h1>
  <div class="md w-full max-w-screen-md px-10 text-lg font-sans">
    {{ objects.manifesto.content }}
  </div>
</div>
