{% layout 'theme', title: "Christian Reynoso : Recipes", page: "projects" %}
{% capture content %}{{objects.page["projects"].content}}{% endcapture %}

<div class="projects">
    <div class="content">
        {{content}}
    </div>
</div>