{% layout 'theme' title: "Archival: simple website tutorial" %}

{% include 'small_nav' name: 'Documentation'
  , page: 'documentation' %}

{% include 'docs_nav' page: tutorial.path %}

<div class="content docs">
  {{ tutorial.content }}
</div>
